* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html, body {
  background-color: #fff;
  color: #444;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  /*font-family: "webfont-light",Times;*/
  font-size: 18px;
  margin: 0;
}
a {
  color: #4183c4;
  text-decoration: none;
}
header {
  background:#2980b9; /*#dfefef*/
  border-bottom:3px solid #a2ce7e;
  color:#ffffff;
  padding: 16px 0 20px;
  /*width: 100%;
  position: fixed;
  z-index: 5000;*/
}
h1#site-title {
  display: inline-block;
  font-family: "Pacifico",Georgia,serif;
  font-size: 28px;
  margin:0 0 0 10px;
  border-bottom: solid 4px #2980b9;
}
h1#site-title a {
  color: #ffffff;
}
h1#site-title:hover {
  border-bottom: solid 4px #5cc9df;
}
h2{
  background:#d1e7bf; /* #e1e7d0;*/
  border-radius:4px;
  font-family: "webfont-regular",Times;
  padding:0 10px;
}
#logo {
  float: left;
  height:60px;
}
header .profile-icons  {
  border-left: 1px solid white;
  float:right;
  margin-left: 20px;
  margin-top: 6px;
}
.profile-icons {
  font-size: 26px;
  padding-left: 10px;
}
a.profile-icon {
  border-radius: 300px;
  color: #ffffff;
  height: 46px;
  padding: 10px 0 10px;
  text-align: center;
  width: 46px;
  margin: 0px;
}
a.profile-icon:hover {
  background: none repeat scroll 0 0 #5cc9df !important;
}

#hamburger {
  /*display: block;*/
  float:right;
  width: 40px;
  height: 36px;
  margin: 6px;
  position:relative;
  top: 0;
  left: 0;
  z-index: 2;
}
#hamburger:before,
#hamburger:after,
#hamburger span {
  background:#ffffff;
  content:"";
  display:block;
  width:30px;
  height:6px;
  position:absolute;
  left:5px;
}
#hamburger:before {
  top:5px;
}
#hamburger:after {
  bottom:5px;
}
#hamburger span {
  top:50%;
  margin-top:-3px;
}

/*@media all and (min-width: 1430px) {
#hamburger {
    display: none;
}
}*/
#hamburger:before, #hamburger:after, #hamburger span {
  transition-delay:0.5s;
  transition-duration:0.5s;
  transition-property:transform, top, bottom, left, opacity;
  transition-timing-function: ease;
}
/*html.mm-opening #hamburger span {
    left: -50px;
    opacity: 0;
}
html.mm-opening #hamburger:before {
    top: 15px;
    transform: rotate(45deg);
}
html.mm-opening #hamburger:after {
    bottom: 15px;
    transform: rotate(-45deg);
}*/

.navigation-menu::before, .navigation-menu::after {
  content: "";
  display: table;
  line-height: 0;
}
.navigation-menu::after {
  clear: both;
}
.navigation-menu::before, .navigation-menu::after {
  content: "";
  display: table;
  line-height: 0;
}
.navigation-menu {
  border-bottom:2px solid #eee;
  padding-left: 20px;
  padding-right: 20px;
  background: #fbf8f5 none repeat scroll 0 0;
}

.navbar {
  border: medium none;
  float: right;
}
.navbar, .navbar-inner, .nav, .navbar-inverse {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  filter: none;
  margin: 0 !important;
  padding: 0;
}
.navbar {
  margin-bottom: 20px;
  overflow: visible;
}
.navbar-inner::before, .navbar-inner::after {
  content: "";
  display: table;
  line-height: 0;
}
.navbar-inner::after {
  clear: both;
}
.navbar-inner::before, .navbar-inner::after {
  content: "";
  display: table;
  line-height: 0;
}
.navbar-inner {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.navbar, .navbar-inner, .nav, .navbar-inverse {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  filter: none;
  margin: 0 !important;
  padding: 0;
}
.navbar-inner {
  background-color: #fafafa;
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.nav-collapse.collapse {
  height: auto !important;
  overflow: visible !important;
}
.nav-collapse.collapse {
  height: auto;
  overflow: visible;
}
.collapse {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.35s ease 0s;
}
.navbar .nav {
  display: block;
  float: left;
  list-style: outside none none;
  left: 0;
  margin: 0 10px 0 0;
  padding: 0;
  position: relative;
}
.navbar, .navbar-inner, .nav, .navbar-inverse {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  box-shadow: none;
  filter: none;
  margin: 0 !important;
  padding: 0;
}
.top-2 {
  top: 2px;
}
/*
.nav {
  margin-bottom: 20px;
  margin-left: 0;
}
ul.nav, ol.nav {
  margin: 0 0 10px 25px;
}
li {
  line-height: 20px;
}*/

.navbar .nav > li {
  display: block;
  line-height: 20px;
  position: relative;
}
.navbar .nav > li {
  float: left;
}
.navbar .nav > li > a {
  border-bottom: 2px solid #eee;
  color: #687074;
  display: block;
  /*font-family: "Open Sans",sans-serif;*/
  font-size: 15px;
  font-weight: 400;
  padding: 9px 20px;
  text-shadow: none;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out 0s;
}
.navbar .nav > li > a {
  background:#fbf8f5;
  color: #777;
  float: none;
  padding: 10px 15px;
  text-decoration: none;
  /*text-shadow: 0 1px 0 #fff;*/
}
.nav > li > a {
  display: block;
}
.navbar .nav > .active > a, .navbar .nav > .active > a:focus {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-bottom: 2px solid #72c02c;
  box-shadow: none;
  color: #72c02c;
  text-decoration: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: transparent;
  color: #333;
  text-decoration: none;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  border-bottom: 2px solid #72c02c;
  color: #72c02c;
}

.logo {
  left: 0;
  position: absolute;
  top: -5px;
}
.navbar .search-open {
  background: #fcfcfc none repeat scroll 0 0;
  border-top: 2px solid #eee;
  display: none;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 44px;
  z-index:9999;
}
.navbar .search-open form, .navbar .search-open .input-append {
  margin: 0 !important;
}
.input-append, .input-prepend {
  display: inline-block;
  font-size: 0;
  margin-bottom: 10px;
  vertical-align: middle;
  white-space: nowrap;
}
input.span3 {
  padding:4px 6px;
  width: 256px;
}
.btn-u {
  background: #72c02c none repeat scroll 0 0;
}
.btn-u {
  background: #72c02c none repeat scroll 0 0;
  border: 0 none;
  color: #fff !important;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px 4px;
  position: relative;
  text-decoration: none !important;
}

/* Ipad Issue con mmenu header & footer */
html .mm-header .mm-prev, html .mm-header .mm-next {
  height:29px;
}

.mm-menu.mm-white .mm-list > li > a.mm-subclose {
  color: rgba(0, 0, 0, 0.3) !important;
  background:inherit !important;
  font-size:16px !important;
}
.mm-menu.mm-white .mm-list .mm-subtitle {
  border-bottom:rgba(0, 0, 0, 0.1) 1px !important;
  border-bottom-style:solid !important;
}
#menu-footer {
  position:absolute;
  bottom:0;
  width:100%;
  font-size:14px;
  padding-bottom:0px;
  padding-left:10px;
  background:#fff;
  text-align:center;
  border:solid 1px rgba(0, 0, 0, 0.1);
  border-width: 1px 0px 0px;
}
.mm-page::after{
  content:".";
  visibility:hidden;
}
/* Normal screen*/
.show-phone {
  display:none;
}

/* Slides */
.slides:before, .slides:after {
  content: " ";
  display: table;
  clear: both;
}
.slider {
  background: #fbf8f5;
  color:#625f5d;
  text-align: center;
  width:100%;
}
ul.slides, .slides > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.slides .text_xxl {
  font-size: 8rem; /*9.969rem;*/
  line-height: 8.5rem; /*10.5rem;*/
}
.slides .text_medium {
  font-size: 2rem;
  line-height: 3rem;
  padding: 0 3%;
}
.slides .text_small {
  letter-spacing: 0.1rem;
  font-weight:200;
  font-size: 0.844rem;
}
.slides span {
  display: block;
}
.slides-nav {
  padding-bottom: 1rem;
  padding-top: 2rem;
}
.slide-indicators {
  vertical-align:top;
}
.slides-nav a{
  color: #a2ce7e;
  height:46px;
  width:46px;
  font-size:46px;
  opacity: 0.5;
}
.slides-nav a:hover, .slides-nav a.selected {
  opacity: 1;
}
.slides-nav .icon-prev-slide {
  margin-right: 3rem;
}
.slides-nav .icon-next-slide {
  margin-left: 3rem;
}
.slides-nav  .slide-indicators a {
  font-size:22px;
  height:22px;
  width:22px;
}
footer {
  background:#2980b9; /*#dfefef*/
  box-shadow:0 0 5px rgba(0, 0, 0, 0.5);
  color:#ffffff;
  padding:35px 0 50px;
}
a#copy{
  color:#ffffff;
}
/* Columns & Layout */
.wrap {
  margin: 0 auto;
  max-width: 960px;
  /*padding: 0 15px;*/
}
section .content-body {
    font-size: 18px;
    padding-bottom: 30px;
    width: 760px;
}
.toc-wrapper {
    float:right;
    width:140px;
}
ol.toc {
  padding: 0;
  margin-top: 18px;
}
ol.toc > li {
  border-left:solid #ffffff 4px;
  font-size: 16px;
  list-style-type: none;
  margin: 0;
  padding: 5px 10px;
}
ol.toc > li.active{
  border-left:solid #a2ce7e 4px;
}
ol.toc > li.active a {
    color: #444;
    font-weight: bold;
}
ol.toc.sticky {
  position: fixed;
  top: 20px;
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../fonts/pacifico_v7.woff) format('woff');
}


@font-face {
    font-family: "webfont-light";
    src: url("../fonts/webfont/webfont-light.eot?#iefix") format("embedded-opentype"), url("../fonts/webfont/webfont-light.woff") format("woff");
}
@font-face {
    font-family: "webfont-regular";
    src: url("../fonts/webfont/webfont-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/webfont/webfont-regular.woff") format("woff");
}
@font-face {
    font-family: "webfont-medium";
    src: url("../fonts/webfont/webfont-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/webfont/webfont-medium.woff") format("woff");
}
@font-face {
    font-family: "webfont-semibold";
    src: url("../fonts/webfont/webfont-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/webfont/webfont-semibold.woff") format("woff");
}
@font-face {
    font-family: "webfont-thin";
    src: url("../fonts/webfont/webfont-thin.eot?#iefix") format("embedded-opentype"), url("../fonts/webfont/webfont-thin.woff") format("woff");
}

/* tagcloud */
.widget_tag_cloud .tagcloud , #tagcloud {
  padding-top:30px;
}
.widget_tag_cloud .tagcloud a, #tagcloud a {
  background: url("../img/tags_bg.png") no-repeat scroll right -28px rgba(0, 0, 0, 0);
  color: #5c5c5c;
  display: inline-block;
  font-size: 12px !important;
  line-height: 28px;
  margin: 5px 6px 5px 0;
  padding: 0 15px 0 0;
  text-shadow: 0 1px 1px #fff;
  /*box-sizing: border-box;*/
}
.widget_tag_cloud .tagcloud a span, #tagcloud a span {
    background: url("../img/tags_bg.png") no-repeat scroll left 0 rgba(0, 0, 0, 0);
    display: block;
    padding: 0 0 0 25px;
}
/* Columns */
.col-sm-4 {
  float:left;
  width:33.33%;
}

/* Prev and next button */
.no-touchevents #explore-gutter {
  display:none;
}
.touchevents #explore-gutter a.prev-button:hover {
  opacity:1;
}
.touchevents #explore-gutter a.next-button:hover {
  opacity:1;
}
.touchevents #explore-gutter a.prev-button {
  left: 0;
  margin-top: -32px;
  margin-left: 0;
  padding-left: 0;
  position: fixed;
  top: 50%;
  z-index: 1;
}
.touchevents #explore-gutter a.next-button {
  margin-top: -32px;
  margin-left: 0;
  padding-right: 0;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1;
}
.touchevents #explore-gutter a {
  color: #a2ce7e;
  font-size:56px;
  height: 59px;
  overflow: hidden;
  position: relative;
  opacity:0.2;
  width: 52px;
}
.touchevents .prev-button .txt, .next-button .txt, .touchevents .prev-button .text, .next-button .text {
  display: block;
  padding-bottom: 3px;
}

/* Media 900px */
@media (max-width: 900px) {
  .wrap {
    max-width: auto;
  }

  section .content-body {
    width: auto;
  }
  ol.toc {
    float: none;
    width: auto;
    /*margin: -10px 0 20px;*/
    margin: 18px 0;
  }
  .hide-phone {
    display:none;
  }
  .show-phone {
    display:block;
  }
  
  /* Columns */
  .col-sm-4 {
    float:none;
    width:100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  section .content-body {
    width: 500px;
  }
}
@media only screen and (max-width: 767px) {
  html, body {
    font-size: 15px;
  }
  
  .article-heading .wrap {
    padding: 30px 0;
  }
  section h1 {
    margin-left: 96px;
    font-size: 34px;
  }
  section .content-body {
    width: 100%;
  }
  .slides .text_xxl {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .toc-wrapper {
    display: none;
  }
  /* Columns */
  .col-sm-4 {
    float:none;
    width:100%;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
  }
  footer {
    font-size: 12px;
  }
}
/* Phone Portrait */
@media only screen and (max-width: 480px) {
  header {
    width: 100%;
    position: fixed;
    z-index: 5000;
  }
  h1#site-title {
    font-size: 22px;
  }
  #hamburger {
    /*float: none;
    margin-top: 26px;*/
    float: right;
    margin-top: 0px;
  }
  #logo {
    display: none;
  }
  .navigation-menu {
    padding-top: 80px;
  }
  /*article #center-body {
    padding-top: 80px;
  }*/
  .navbar {
    width:100%;
  }
  .navbar .nav{
    float:none;
  }
  .navbar .nav > li {
    float:none;
  }
  .slide .text_xxl {
    font-size: 4rem;
    line-height: 6rem;
  }
  .slides-nav .icon-prev-slide {
    margin-right: 1rem;
  }
  .slides-nav .icon-next-slide {
    margin-left: 1rem;
  }
  .touchevents #explore-gutter {
    display:none;
  }
}
#under-construction, #no-js-message {
  background-color:#a2ce7e; /*#1fa67a; #1b926c*/
  color:#468847; /*#a5d8c7;*/
  /*opacity:0.15;*/
  padding:20px 0;
}
#no-js-message { display: none;}
.no-js #no-js-message{ display: block; }
#center-body {
  background-color: rgba(255, 255, 255, 0.8);
  padding-top:12px;
}
.content-body {
  font-size: 15px;
  line-height: 1.7;
  overflow: hidden; 
}
.content-body > *:first-child {
  margin-top: 0 !important; 
}
.content-body > *:last-child {
  margin-bottom: 0 !important;
}
.content-body p,
.content-body blockquote,
.content-body ul, .content-body ol, .content-body dl,
.content-body table,
.content-body pre {
  font-family: "webfont-light",Times;
  font-size: 20px;
  margin:15px 0;
  padding:0px 10px
}

.row {
  clear:both
}
.entry  ul{
  padding:0 0 0 30px;
}
.features .icon {
    background: none repeat scroll 0 0 #cccfd5;
    border-radius: 50%;
    box-shadow: 0 3px rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: 28px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    transition: background 0.3s ease-out 0s;
    width: 80px;
}
.features .media:hover .icon {
  background: none repeat scroll 0 0 #5cc9df;
}
.features .icon .icon-1 {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-out 0.2s;
  width: 80px;
}
.features .icon .icon-2 {
  opacity: 0;
  position: relative;
  top: -80px;
  transform: scale(2);
  transition: all 0.3s ease-out 0s;
  width: 80px;
}
.features .media:hover .icon .icon-1 {
  opacity: 0;
  transform: scale(0);
  transition: all 0.3s ease-out 0s;
}
.features .media:hover .icon .icon-2 {
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease-out 0.2s;
}
.features .media {
  cursor: pointer;
  margin-bottom: 40px;
}
.features .media-body p {
  font-size: 18px;
  padding: 0;
}
.features .media h4 {
  margin:0 0 20px;
  transition: color 0.3s ease-out 0s;
}
.features .media:hover h4 {
  color: #5cc9df;
}

/*#scrollUp:before {
    color: #ccc;
    content: "ÔÅ∑";
    display: inline-block;
    font: 14px/18px "fontawesome",Arial,sans-serif;
    vertical-align: middle;
}*/
#scrollUp:hover {
  opacity:1;
}
#scrollUp {
  border-radius: 300;
  bottom: 20px;
  color: #a2ce7e;
  font-size:46px;
  height: 46px;
  opacity: 0.5;
  right: 20px;
  text-align: center;
  width: 46px;
}
/*Separator*/
hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #eee -moz-use-text-color -moz-use-text-color;
  border-image: none;
  border-style: solid none none;
  border-width: 1px 0 0;
  color: #eee;
  margin-bottom: 20px;
  margin-top: 20px;
}

.blog-post {
  border-radius: 10px;
  border: 1px solid #eee;
  margin-bottom: 0px;
  padding: 20px;
}
.blog-post:hover {
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.13);
}
.blog-post h1:first-child, .blog-post h2:first-child, .blog-post h3:first-child, .blog-post h4:first-child {
  margin: 0;
}
.blog-post h1:first-child a:visited, .blog-post h2:first-child a:visited, .blog-post h3:first-child a:visited, .blog-post h4:first-child a:visited {
  color: #006084;
}
.blog-post time {
  color: #aaa;
  display: block;
  font-size: small;
}
.blog-post p {
  font-family: "webfont-light",Times;
  font-size: 20px;
  padding: 0 10px;
}