<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="description" content="{{ site.description }}">
  <link rel="icon" href="{{ site.baseurl }}/img/rj16.png" type="image/png" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    
  <link rel="stylesheet" href="{{ site.baseurl }}/fonts/font-awesome.min.css" />
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/js/mmenu/css/jquery.mmenu.all.css"/-->
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css"/>
  
  {% if page.kind == 'post' %}
    <meta property="og:type" content="article" />
    {% if page.categories %}
      {% for category in page.categories limit:1 %}
        <meta property="article:section" content="{{ category }}" />
      {% endfor %}
    {% endif %}
    {% if page.tags %}
      {% for tag in page.tags %}
        <meta property="article:tag" content="{{ tag }}" />
      {% endfor %}
    {% endif %}
  {% else %}
    <meta property="og:type" content="website" />
  {% endif %}
</head>
