  <header class="site-header">
    <div class="wrap">
      <img id="logo" src="{{ site.baseurl }}/img/logo.png" alt="logo"/>
      <h1 id="site-title"><a href="{{ site.baseurl }}/">Ricardo Jorge Gil Ramos</a></h1>
      <div class="profile-icons hide-phone">
        <a href="http://es.linkedin.com/in/jorgegilramos" class="profile-icon fa fa-linkedin" target="_blank"></a>
        <a href="https://github.com/jorgegilramos" class="profile-icon fa fa-github" target="_blank"></a>
        <a href="http://twitter.com/jorgegil" class="profile-icon fa fa-twitter" target="_blank"></a>
        <a href="https://plus.google.com/u/0/109912004724487165210/posts" class="profile-icon fa fa-google-plus" target="_blank"></a>
        <!--<a href="https://www.facebook.com/pages/" class="profile-icon fa fa-facebook" target="_blank"></a>
        <a href="http://www.youtube.com/user/" class="profile-icon fa fa-youtube" target="_blank"></a>-->
        <a class="fancy-modal-rss profile-icon fa fa-rss fancybox fancybox.ajax" href="html/fancy-modal.html" data-fancybox-type="ajax" rel="nofollow"></a>
      </div>
      <!--a id="hamburger" class="mm-slideout show-phone" href="#mainMenu"><span></span></a>-->
      <a id="hamburger" class="mm-slideout" href="#mainMenu"><span></span></a>
    </div>
  </header>

  <div class="navigation-menu">
    <div class="wrap">
      <!--div class="logo visible-lg">
        <a href="index.html">logo<img alt="logo" src="img/logo.png" id="logo-header"></a>
      </div-->
      <div class="navbar">
        <div class="navbar-inner">
          <a data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a><!-- /nav-collapse -->
          {% assign sorted_areas = site.areas | sort:"order" %}
          <div class="nav-collapse collapse">
            <ul class="nav top-2">
              <li {% if page.url == "/" + site.baseurl %}class="active"{% endif %}><a href="{{site.baseurl}}/">Home</a></li>
              {% for area in sorted_areas %}
              <li {% if page.url == area.url %}class="active"{% endif %}><a href="{{ area.url | prepend: site.baseurl }}">{{ area.title }}</a></li>
              {% endfor %}
            </ul>
            <div class="search-open">
              <div class="input-append">
                <form>
                  <input type="text" placeholder="Search" class="span3">
                  <button class="btn-u" type="submit">Go</button>
                </form>
              </div>
            </div>
          </div><!-- /nav-collapse -->
        </div><!-- /navbar-inner -->
      </div>  
    </div>
  </div>
