      <!-- slider -->
      <div class="slider" id="slider-1">
        <ul class="slides">
          <li class="slide">
            <div>
              <span class="slide-content"><span class="text_xxl">Quality</span>
              <span class="text_medium">“Quality is not an act, it is a habit.”</span>
              <span class="text_small">&mdash; Aristotle</span></span></div>
          </li>
          <li class="slide">
            <div>
              <span class="slide-content"><span class="text_xxl">Knowledge</span>
              <span class="text_medium">“Knowing is not enough. We must apply.<br/> Willing is not enough. We must do.”</span>
              <span class="text_small">&mdash; Bruce Lee</span></span></div>
          </li>
          <li class="slide">
            <div>
              <span class="slide-content"><span class="text_xxl">Value</span>
              <span class="text_medium">“Strive not to be a success, but rather to be of value.”</span>
              <span class="text_small">&mdash; Albert Einstein</span></span></div>
          </li>
        </ul>
        <nav class="slides-nav">
          <a class="slide-back icon-prev-slide fa fa-chevron-circle-left" href="#"></a>
          <span class="slide-indicators">
            <a class="fa fa-circle" href="#1" data-slide="1" ></a>&nbsp;
            <a class="fa fa-circle" href="#2" data-slide="2"></a>&nbsp;
            <a class="fa fa-circle" href="#3" data-slide="3"></a>&nbsp;
          </span>
          <a class="slide-next icon-next-slide fa fa-chevron-circle-right" href="#"></a>
        </nav>&nbsp;
      </div>
