        <div id="tagcloud" class="widget_tag_cloud">
          <a href="{{site.baseurl}}/bigdata/"><span>big data</span></a>
          <a href="{{site.baseurl}}/bi/"><span>bi</span></a>
          <a href="{{site.baseurl}}/datascience/"><span>data science</span></a>
          <a href="{{site.baseurl}}/dashboards/"><span>dashboards</span></a>
          <a href="{{site.baseurl}}/html5/"><span>html5</span></a>
          <a href="{{site.baseurl}}/css3/"><span>css3</span></a>
          <a href="{{site.baseurl}}/javascript/"><span>javascript</span></a>
          <a href="{{site.baseurl}}/design/"><span>responsive design</span></a>
          <a href="{{site.baseurl}}/maps/"><span>geolocalization</span></a>
          <a href="{{site.baseurl}}/maps/"><span>maps</span></a>
        </div>
