        <div id="tagcloud" class="widget_tag_cloud">
          <a href="./bigdata.html"><span>big data</span></a>
          <a href="./bi.html"><span>bi</span></a>
          <a href="./datascience.html"><span>data science</span></a>
          <a href="./dashboards.html"><span>dashboards</span></a>
          <a href="./html5.html"><span>html5</span></a>
          <a href="./css3.html"><span>css3</span></a>
          <a href="./javascript.html"><span>javascript</span></a>
          <a href="./design.html"><span>responsive design</span></a>
          <a href="./maps.html"><span>geolocalization</span></a>
          <a href="./maps.html"><span>maps</span></a>
        </div>
