        <div id="tagcloud" class="widget_tag_cloud">
          <a href="{{site.baseurl}}/bigdata/"><span>big data</span></a>
          <a href="{{site.baseurl}}/datascience/"><span>data science</span></a>
          <a href="{{site.baseurl}}/tags/#Hadoop-ref"><span>hadoop</span></a>
          <a href="{{site.baseurl}}/tags/#Spark-ref"><span>spark</span></a>
          <a href="{{site.baseurl}}/javascript/"><span>javascript</span></a>
          <a href="{{site.baseurl}}/design/"><span>responsive design</span></a>
          <a href="{{site.baseurl}}/maps/"><span>maps</span></a>
        </div>
