<!DOCTYPE html>
<html lang="en-US" class="no-js">
{% include head.html %}
<body>
  <div> <!-- wrapper mmenu -->
{% include header.html %}

  <!--div class="preloader js-preloader"></div>
  <div>
    <div class="intro js-view" data-view="Intro">
    </div>
  </div>-->
  <article>
    <div id="center-body" class="wrap">
{{ content }}
{% include tags.html %}
    </div>
  </article>
{% include footer.html %}
  <!--<script src="{{site.baseurl}}/assets/js/app.js"></script>-->
  </div>
  
{% include left-navigation.html %}
  
  <div id="explore-gutter" class="fixed" style="">
    <a href="{{site.baseurl}}/datascience/" class="prev-button"><i class="fa fa-chevron-left"></i></a>
    <a href="{{site.baseurl}}/bigdata/" class="next-button"><i class="fa fa-chevron-right"></i></a>
  </div>

  <script src="{{site.baseurl}}/assets/js/modernizr-3.3.1.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/jquery-2.1.1.min.js"></script>
  <!--script src="{{site.baseurl}}/assets/js/underscore-1.8.3.min.js"></script>
  <script src="{{site.baseurl}}/assets/js/backbone-1.2.3.min.js"></script-->
  
  <!--script src="{{site.baseurl}}/assets/js/fancybox/jquery.fancybox.js?v=2.1.5" type="text/javascript"></script>
  <script src="{{site.baseurl}}/assets/js/fancybox/jquery.fancybox-buttons.js?v=1.0.5" type="text/javascript"></script-->
  <script src="{{site.baseurl}}/assets/js/mmenu/js/jquery.mmenu.min.all.js" type="text/javascript"></script>
  <script src="{{site.baseurl}}/assets/js/slidewidget-1.0.js" type="text/javascript"></script>
  <script src="{{site.baseurl}}/assets/js/main.js" type="text/javascript"></script>
</body>
</html>
